body{
    background-color: pink;
    padding: 10px;
    border-radius: 10px;
}
ol{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    
}

li{
    background-color: purple;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.cost{
    display: inline;

}

ol:hover{
    background-color: aqua;
}

@media screen and (max-width: 768px) {
    .cost{
      margin-left: 20%!important;
    }
  }
